@{
    ViewBag.Title = "Index";
}
@{
    Layout = "~/Views/Shared/CustomerLayout.cshtml";

}
<div class="page-header">
          <h1><font color="green">Customer Workspace</font></h1>
</div>

<div class="content">
      <!-- Start: slider -->
      <div class="slider">
        <div class="container-fluid">
          <div id="heroSlider" class="carousel slide">
            <div class="carousel-inner">
              <div class="active item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Wedding Cards</h1>
                      <p>
                        We are Bootbusiness and we are awesome.We solve your technology problems by our experienced professionals.
                       
                      </p>
                                            
                    </div>
                    <div class="span5">
                      <img src="~/Image/w1.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Birthday cards </h1>
                      <p>
                       Now you don't need to go for a shop to buy and send a card. We provide a facility to do this online.
                      </p>
                                            
                    </div>
                    <div class="span5">
                      <img src="~/Image/b1.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Anniversary Cards</h1>
                      <p>
                        Now it is easy You can wish your friends on their anniversary online and also send gifts.
                      </p>
                      
                    </div>
                    <div class="span5">
                      <img src="~/Image/a1.jpg" class="thumbnail" >
                    </div>
                  </div>                  
                </div>
              </div>
              <div class="item">
                <div class="hero-unit">
                  <div class="row-fluid">
                    <div class="span7 marketting-info">
                      <h1>Eid Cards</h1>
                      <p>
                       Life is easy. Remember your loved ones in Eid moments.
                      </p>
                                           
                    </div>
                    <div class="span5">
                      <img src="~/Image/e1.jpg" class="thumbnail">
                    </div>
                  </div>                  
                </div>
              </div>
            </div>
            <a class="left carousel-control" href="#heroSlider" data-slide="prev">‹</a>
            <a class="right carousel-control" href="#heroSlider" data-slide="next">›</a>
          </div>
        </div>
      </div>
      <!-- End: slider -->
      
       <script type="text/javascript" src="~/Scripts/jquery.min.js"></script>
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/boot-business.js"></script>
  